
<!-- By calling/including the boiler plate's directory, you can now inject the body 
of the current html, into the boilerplate's body so you can now program to only one layout -->
<% layout('layouts/boilerplate') %>  <!-- include the boilerplates' directory so I can inject this body... -->
<!--Can now include my layouts, stylesheets, my javascript and have a common layout -->


<!-- Can NOW GET RID OF EVERYTHING BUT THE <body></body> -->
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALL CAMPGROUNDS</title>
</head>
-->
<body>
    <h1>All CAMPGROUNDS</h1>
    <a href="/campgrounds/new">Add a New Campground!</a>
        <% for (let campGrnd of allCampgrounds) {%> 
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <img src="<%=campGrnd.image%>" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%=campGrnd.title%></h5>
                            <p class="card-text"><%=campGrnd.description%> </p>
                            <p class="card-text">
                                <small class="text-muted"><%=campGrnd.location%></small>
                            </p>
                            <a class="btn btn-primary" href="/campgrounds/<%-campGrnd._id%>">View <%=campGrnd.title%> </a>
                        </div>
                    </div>
                </div>
            </div>
        <% } %> 
</body>

<!--</html>-->