<!-- By calling/including the boiler plate's directory, you can now inject the body 
of the current html, into the boilerplate's body so you can now program to only one layout -->
<% layout('layouts/boilerplate') %>  <!-- include the boilerplates' directory so I can inject this body... -->
<!--Can now include my layouts, stylesheets, my javascript and have a common layout -->

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%=campGrndById.image%>" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title"><%=campGrndById.title%></h5>
              <p class="card-text"><%=campGrndById.description%></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%=campGrndById.location%></li>
              <li class="list-group-item">$ <%=campGrndById.price%>/night</li>
            </ul>
            <div class="card-body">
              <a href="/campgrounds/<%=campGrndById._id%>/edit" class="card-link btn btn-info">Edit Campground</a>
                <form class="d-inline" action="/campgrounds/<%=campGrndById._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete Campground</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
          </div>
          <form action="/campgrounds/<%=campGrndById._id%>/reviews" class="mb-3" method="POST">
            <h2>Leave a Review</h2>
            <div class="mb-3">
              <label for="rating" class="form-label">Rating</label>
              <input type="range" class="form-range" min="1" max="5" name="newCampgroundReview[rating]" id="rating">
            </div>
            <div class="mb-3">
              <label class="form-label" for="body">Review</label>
              <textarea class="form-control" name="newCampgroundReview[body]" id="body" cols="30" rows="3"></textarea>
            </div>
            <button class="btn btn-success">Submit Review</button>
          </form>
    </div>
</div>
